 <div class="container">
    <div class="row" ng-show="vm.tipoVisor == 2">
        <div class="col-md-8">
            <div class="col-md-2"><img class="img-rounded " data-ng-src="{{vm.publicacion.fotopublicacionContentType}}" width="80" height="80">
            </div>
            <h1>Título: {{vm.publicacion.titulo}}</h1>
            <h5 class="secondaryText">Descripción {{vm.publicacion.descripcion}}</h5>

        </div>
        <div class="col-md-4">
            <h5 class="fontColor pull-right">Por : {{vm.autor.nombre}} {{vm.autor.primerApelldio}}</h5>
        </div>
    </div>


    <div class="row top">
        <div class="col-md-12">
            <textarea id="visor" ui-tinymce="vm.tinymceOptions" ng-model="vm.paginaContenido"></textarea>
        </div>
    </div>
</div>
