<div class="container" id="listPubliSecc">
    <h2>Publicaciones reportadas</h2>

    <div class="alert alert-danger alert-dismissable fade in" ng-if="vm.errorConnection == true">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>El sistema no está disponible en este momento!</strong> Inténtelo más tarde.
    </div>
    <div ng-show="vm.publicaciones!=null">
        <div class="panel" ng-repeat="publicacionReportada in vm.publicacionesRP">
            <div class="panel-body">


                <div class="col pull-right">
                    <img ng-show="!vm.publicacionesRP.fotopublicacionContentType"
                         class="img-thumbnail pull-right "
                         data-ng-src="{{publicacionReportada.fotopublicacionContentType}}"  style="min-width: 150px;max-width: 150px; max-height: 130px; min-height: 130px" />
                </div>
                <div class="col">
                    <h4 class="col-lg-8 fontColor">Título: {{ publicacionReportada.titulo}}</h4>
                </div>
                <div class="col">
                    <h4 class="col-lg-8 fontColor">Cant.Reportes:
                        {{ publicacionReportada.cantidadReportes}}</h4>
                </div>

                <div class="col pull-left">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.cancelarReporte(publicacionReportada)">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
                    </button>
                    <button ng-disabled="publicacionReportada.cantidadReportes <= 2" type="submit"
                            class="btn btn-primary" ng-click="vm.reportar(publicacionReportada)">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Reportar</span>
                    </button>
                    <button type="submit" class="btn" ng-click="vm.verPublicacion(publicacionReportada)">
                        <i class="btnColorPublicacion"><img src="../../../../content/images/eye.svg"
                                                            width="30"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="vm.publicacionesRP.length ==null" class="panel">

    <div class="panel-body text-center">

        <div class="row">
            <h2 class="secondaryText">No hay publicaciones reportadas!</h2>
        </div>
        <div class="row">
            <img src="../../../../content/images/banBooks.png" width="100">
        </div>
    </div>
</div>
<div ng-show="vm.publicacionesRP.length ==0" class="panel">

    <div class="panel-body text-center">

        <div class="row">
            <h2 class="secondaryText">No hay publicaciones reportadas!</h2>
        </div>
    </div>
</div>


</div>
