<div class=" container">
    <div class="panel">
        <div class="panel-body">
            <div class="form-group" ngf-drop ngf-change="vm.setFotopublicacion($file,  vm.imagen)" ngf-pattern="'image/*'">
                <div>
                    <div ng-if=" vm.publicacion.fotopublicacion" class="help-block clearfix">
                        <span class="pull-left">{{vm.publicacion.fotopublicacionContentType}}, {{vm.byteSize(vm.publicacion.fotopublicacion)}}</span>
                        <button type="button" ng-click=" vm.publicacion.fotopublicacion=null; vm.publicacion.fotopublicacionContentType=null;"
                                class="btn btn-default btn-xs pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="col-xs-1">
                        <button ng-disabled="vm.fotos.length>=5"
                                type="button" class="btn btn-raised btn-danger btn-xs"ngf-select
                                ngf-change="vm.setFotopublicacion($file,vm.publicacion)" accept="image/*">
                            <img src="../../../../content/images/picture.svg" width="25">
                        </button>
                    </div>
                    <div class="col-xs-1">
                        <button ng-disabled="vm.fotos.length==0" type="button" class="btn btn-raised btn-primary btn-xs"  ng-click="vm.guardar()">
                            <span ><img src="../../../../content/images/savePic.svg" width="25"></span>
                        </button>
                    </div>
                </div>

                <input type="hidden" class="form-control" name="fotopublicacion" id="field_fotopublicacion"
                       ng-model=" vm.publicacion.fotopublicacion"
                />
                <input type="hidden" class="form-control" name="fotopublicacionContentType" id="field_fotopublicacionContentType"
                       ng-model=" vm.publicacion.fotopublicacionContentType" />
            </div>

            <div class="">
                <div ng-show="vm.fotos.length==0" class=" text-center">
                    <h3 class="secondaryText">Aquí puedes agregar fotos en tu publicación <img src="../../../../content/images/pictures.svg" width="20"></h3>
                </div>
                <div ng-repeat="img in vm.fotos track by $id($index)" class="col-xs-2 text-center">
                    <a ng-click="vm.getImage($index)"> <img  class="img-rounded" data-ng-src="{{'data:' +  img.fotopublicacionContentType + ';base64,' +  img.fotopublicacion}}" width="60"
                          height="60" alt="publicacion image"/></a>
                    <a ng-click="vm.delete($index)"><i class="glyphicon glyphicon glyphicon-trash size secondaryText "></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
