
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComentarioLabel">Create or edit a Comentario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comentario.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comentario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contenido">Contenido</label>
            <input type="text" class="form-control" name="contenido" id="field_contenido"
                    ng-model="vm.comentario.contenido"
                    />
        </div>

        <div class="form-group">
            <label for="field_idComentarioRespuesta">Id Comentario Respuesta</label>
            <select class="form-control" id="field_idComentarioRespuesta" name="idComentarioRespuesta" ng-model="vm.comentario.idComentarioRespuestaId" ng-options="respuesta.id as respuesta.id for respuesta in vm.idcomentariorespuestas | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_idComentarioU">Id Comentario U</label>
            <select class="form-control" id="field_idComentarioU" name="idComentarioU" ng-model="vm.comentario.idComentarioUId" ng-options="usuario.id as usuario.id for usuario in vm.usuarios"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_idComentarioP">Id Comentario P</label>
            <select class="form-control" id="field_idComentarioP" name="idComentarioP" ng-model="vm.comentario.idComentarioPId" ng-options="publicacion.id as publicacion.id for publicacion in vm.publicacions"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
