<div class=" text-center">

    <h1 class="secondaryfontColor">Bienvenido que deseas hacer?</h1>

    <div class="col-md-4 top-head ">
        <img  src="../../../../content/images/userConnect.svg" width="150">
        <a>
        <h4>Conectar con otros usuarios</h4>
        </a>
    </div>
    <div class="col-md-4 top-head ">
        <img  src="../../../../content/images/user%20(1).svg" width="150" >
        <a>
            <h4>Personalizar tu cuenta</h4>
        </a>
    </div>
    <div class="col-md-4 top-head">
    <img  src="../../../../content/images/profile.svg" width="150" >
    <a>
        <h4>Ver perfil</h4>
    </a>
</div>


</div>
