<div class=" container ">
    <div ng-if="vm.errorCon == true">
        <p class="alert alert-danger"><strong>El sistema no está disponible en este momento!</strong> Inténtelo más tarde.</p></div>
    <div class="text-center">
        <button class=" btn" ng-click="vm.getSeguidores2()" ><div class="row"><img src="../../../../content/images/group.svg" width="30"></div><span class="text-capitalize">Nuevos amigos</span></button>
        <button class=" btn "ng-click="vm.getPublicaciones2()" ><div class="row"><img src="../../../../content/images/notification.svg" width="30"></div><span class="text-capitalize">Nuevas publicaciones</span> </button>
        <button class=" btn "ng-click="vm.getCompartidas()" ><div class="row"><img src="../../../../content/images/birthday-card.svg" width="30"></div><span class="text-capitalize">Publicaciones colaborativas</span> </button>
    </div>

<h2 class="secondaryfontColor" ng-show="vm.mostrar != 0" >Recientemente</h2>
    <div ng-show="vm.mostrar== 0" class=" text-center top-head">
        <img src="../../../../content/images/tap.svg" width="100">
        <h1 class="secondaryText ">Elige una opción</h1>
    </div>

    <div ng-show="vm.mostrar== 1">
        <div ng-show="vm.notificacionesAmigos.length==0" class="panel">
            <div class="panel-body text-center">
                <img src="../../../../content/images/mailbox%20(2).svg" width="100">
                <h1 class="secondaryText ">No hay solicitudes recientes</h1>
            </div>
        </div>
        <div class="panel" ng-repeat="notificacion in vm.notificacionesAmigos|orderBy: 'notificacion.idNotificacion' : true| limitTo : vm.limiteNotificaciones">
            <div class=" panel">
                <div class=" panel-body notificacion">
                    <label ng-show="notificacion.estadoNotificacion == true " class=" label label-primary pull-right">Visto</label>
                    <label ng-show="notificacion.estadoNotificacion == false"  class="label label-warning pull-right">Nuevo</label>
                     <a ng-click =" vm.verSeguidor(notificacion.idJHIUser,notificacion.idNotificacion)">
                    <div class="col-lg-2">
                        <img class="img-rounded"   width="80" data-ng-src="{{notificacion.url}}" style="min-width: 80px;max-width: 80px; max-height: 80px; min-height: 80px">
                    </div>
                    <h4>{{notificacion.nombre}}</h4>
                    <p class="list-group-item-text secondaryText">{{notificacion.descripcion}}</p>
                     </a>
                </div>
            </div>
        </div>
        <div class="pull-right"> <button class=" btn btn-default"  ng-disabled="vm.limiteNotificaciones > vm.notificacionesAmigos.length" ng-click="vm.aumentarlimiteNotificaciones()"> Ver más</button></div>
    </div>
    <div ng-show="vm.mostrar == 2" class="">
        <div ng-show="vm.listaNotificacionesPublicaciones.length==0" class="panel">
            <div class="panel-body text-center">
                <img src="../../../../content/images/mailbox%20(2).svg" width="100">
                <h1 class="secondaryText ">No hay publicaciones recientes</h1>
            </div>
        </div>
        <div class="panel" ng-repeat="publicacion in vm.listaNotificacionesPublicaciones |orderBy: ' publicacion.idNotiPubli':true  | limitTo : vm.limiteNotificacionesPublicaciones">
               <div class="panel-body notificacion ">
                   <label ng-show="publicacion.estadoNotiPubli == true " class=" label label-primary pull-right">Visto</label>
                   <label ng-show="publicacion.estadoNotiPubli == false"  class="label label-warning pull-right">Nuevo</label>

                   <a ng-hide=" vm.tipoLike == publicacion.descripcion" ng-click="vm.comentar(publicacion.id,publicacion.idNotiPubli)">Ver
                   </a>
                   <div class="col-lg-2 ">
                       <img  class="img-thumbnail" data-ng-src="{{publicacion.url}}" style="min-width: 80px;max-width: 80px; max-height: 80px; min-height: 80px">
                   </div>
                   <div class="col-lg-8">
                       <h4>{{publicacion.titulo}}</h4>
                       <h5>{{publicacion.descripcionPublicacion}}</h5>
                       <p class="secondaryText">{{publicacion.descripcion}}</p>
                       <a ng-hide="vm.account.id == publicacion.usuarioId" ui-sref="verPerfil({id: publicacion.usuarioId})"> Ver escritor </a>
                   </div>
               </div>
        </div>
        <div class="pull-right">
            <button class=" btn btn-default"  ng-disabled="vm.limiteNotificacionesPublicaciones > vm.listaNotificacionesPublicaciones.length" ng-click="vm.aumentarlimiteNotificacionesPublicaciones()"> Ver más</button>
        </div>
    </div>

    <div  ng-show="vm.mostrar == 3">
        <div ng-show ="vm.listaColaborativas.length == 0" class="panel">
            <div class="panel-body text-center">
                <img src="../../../../content/images/mailbox%20(2).svg" width="100">
                <h1 class="secondaryText ">No hay colaboraciones recientes</h1>
            </div>
        </div>
        <div class="panel" ng-repeat="colaborativa in vm.notificacionesColaborativas | orderBy:'colaborativa.id':true ">
            <div class="panel-body">
                <label ng-show="colaborativa.estado == true " class=" label label-primary pull-right">Visto</label>
                <label ng-show="colaborativa.estado == false"  class="label label-warning pull-right">Nuevo</label>

                <div class="col-lg-8">
                   <div class="col-lg-2">
                        <img  class="img-thumbnail" data-ng-src="{{colaborativa.imagenPublicacion}}" style="min-width: 80px;max-width: 80px; max-height: 80px; min-height: 80px">
                    </div>
                    <div class="col-lg-8">
                        <h4>{{colaborativa.descripcion}}</h4>
                        <h5>{{colaborativa.tituloPublicacion}}</h5>
                        <p class="secondaryText">{{colaborativa.descripcionPublicacion}}</p>
                    </div>
                    <a ng-show="colaborativa.estado == false" ng-click="vm.participar(colaborativa)" class="pull-right standartitle"><h5>Participar</h5></a>

                </div>

            </div>
        </div>
        <div class="pull-right"> <button class=" btn btn-default" > Ver más</button></div>
    </div>
</div>
