<div class="container">
    <h2 class="secondaryText row  pull-right">Encuentra a tus amigos</h2>
    <div>
        <!--css en ver perfil-->
        <input type="text" ng-model="searchBox" class="form-control" id="filtrarUsuarios" placeholder="Escriba el nombre del publicador que quieres encontrar ">
    </div>
    <div class="list-group"  ng-repeat="usuario in vm.listaUsuarios| filter: searchBox">
        <div class="list-group-item ">
            <a ui-sref="verPerfil({id:usuario.idJHIUser})" class="row-picture">
                <img class="circle" ng-show =" usuario.fotoperfilContentType != undefined|| usuario.fotoperfilContentType != null"  data-ng-src="{{usuario.fotoperfilContentType}}">
                <img class="img-circle" ng-show="usuario.fotoperfilContentType== undefined" src="../../../../content/images/avatar.jpeg" height="200" width="200"/>
            </a>
            <div class="row-content">
                <h4 class="list-group-item-heading">{{usuario.nombre}} {{usuario.primerApelldio}} {{usuario.segundoApellido}}</h4>
                <p class="list-group-item-text">{{usuario.descripcion}}</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
</div>
