#comentario{
    background-color: #dddddd;
    margin: 10px 0px;
}
#respuesta{
    margin:10px;
    background-color: #dddddd;
    height: 50px;
    width: 1069px;
    left: 32px;"
}
#respuesta img{
    width: 60px;
}
.areaComentario{

    margin-top: 0px;
}
.iconStyle{
    display: inline-block;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 0px 8px 30px;
    margin: 10px 1px;
    font-size: 14px;
    font-weight: 500;
}
