.circle {
    width: 110px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.btnColor{
     color:#757575;
     font-size: 30px;
     float:right;
}
.btnsize{
    font-size: 30px;
}
.errorClass{
    color: red;
}
