<div ng-app='digitalBlogApp'>
    <div class="container">
        <div class="alert alert-danger alert-dismissable fade in" ng-if="vm.errorConnection == true">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>El sistema no está disponible en este momento!</strong> Inténtelo más tarde.
        </div>
        <h2 class="standartitle">Biblioteca General</h2>
        <div class="row">
            <div class="form-group">
                <label for="inputBuscar" class="col-md-1 control-label">Buscar publicaciones</label>
                <div class="col-md-4">
                    <input type="text" name="buscar" class="form-control" id="inputBuscar"
                           ng-model="vm.buscar" placeholder="Busca temas,categorías, publicaciones y autor"><span
                    ng-bind='result'></span>
                    <p class="help-block">{{vm.error}}
                    </p>
                </div>

                <div class="input-group" id="adv-search">
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button id="dlDropDown" type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form name="editForm" class="form-horizontal" role="form">
                                        <a class="glyphicon glyphicon-circle-arrow-left"
                                           ng-click="vm.cargarTodasLasPublicaciones() "></a> <label> Buscar por</label>
                                        <div class="row">
                                            <div class="form-group col-md-6 little-top">
                                                <label class="control-label" for="categoria">Categoría</label>
                                                <select required id="categoria" name="categoria" ng-model="vm.categoria"
                                                        class="form-control"
                                                        ng-options="categoria.id as categoria.nombre for categoria in vm.categorias track by categoria.id"
                                                        ng-change="vm.obtenerValorCategoria()">
                                                    <option value="" disabled selected>Seleccione una categoría</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6 little-top">
                                                <label class="control-label" for="tema">Tema</label>
                                                <select required id="tema" name="tema" ng-model="vm.tema"
                                                        class="form-control"
                                                        ng-options="tema.id as tema.nombre for tema in vm.temas track by tema.id"
                                                        ng-change="vm.obtenerValorTema()">
                                                    <option value="" disabled selected>Seleccione un tema</option>
                                                </select>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary"
                                                ng-click="vm.cargarCatYTema()" id="temCat"><span
                                            class="glyphicon glyphicon-search"
                                            aria-hidden="true"></span>
                                        </button>

                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" ng-click="vm.cargar()"><span
                                class="glyphicon glyphicon-search"
                                aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="panel" ng-repeat="publicacion in vm.listaPublicacionesLikes">
                <div class="panel-body">
                    <div class="reportDropDown">
                        <div class="dropdown navbar-right" style="right: 20px;" ng-click="vm.comprobar(publicacion)">
                            <a data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li style="display: inline">
                                    <button ng-disabled="vm.seEncontro === true" type="submit"
                                            class="btn btn-primary btn-sm"
                                            ng-click="vm.reportarPublicacion(publicacion)">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Reportar publicación</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a>
                        <h4 class="col-lg-8 fontColor">{{publicacion.titulo}}</h4>
                        <p class="col-lg-8 secondaryText">{{publicacion.descripcion}}</p>


                        <img ng-show="!vm.listaPublicacionesLikes.fotopublicacionContentType"
                             class="img-thumbnail pull-right "
                             data-ng-src="{{publicacion.fotopublicacionContentType}}"  style="min-width: 150px;max-width: 150px; max-height: 130px; min-height: 130px" />
                        <div class="col pull-left">
                            <button type="button" ng-model="vm.botonLike" class="btn"
                                    ng-click="vm.like(publicacion,$index)">
                                <i ng-show="publicacion.estadoLike == true" class="btnColorPublicacion"><img
                                    src="../../../../content/images/like.svg" width="30"></i>
                                <i ng-show="publicacion.estadoLike == false" class="btnColorPublicacion"><img
                                    src="../../../../content/images/unlike.svg" width="30"></i>
                            </button>
                            <button type="submit" class="btn" ng-click="vm.agregarSeccion(publicacion)">
                                <i class="btnColorPublicacion"><img src="../../../../content/images/bookmark.svg"
                                                                    width="30"></i>
                            </button>
                            <button type="submit" class="btn" ng-click="vm.comentar(publicacion.id)">
                                <i class="btnColorPublicacion"><img src="../../../../content/images/chat.svg"
                                                                    width="30"></i>
                            </button>
                            <button type="submit" class="btn" ng-click="vm.verPublicacion(publicacion)">
                                <i class="btnColorPublicacion"><img src="../../../../content/images/eye.svg"
                                                                    width="30"></i>
                            </button>
                            <div class="row pull-left col-md-5">
                                <span ng-show=" publicacion.contenido!= 0">Esta publicación tiene {{publicacion.contenido}} like<span
                                    ng-show="publicacion.contenido>1">s</span></span>
                            </div>
                        </div>


                    </a>
                </div>

            </div>
        </div>
        <div ng-show="vm.listaPublicacionesLikes.length ==0" class="panel">
            <div class="panel-body text-center">
                <div class="row">
                    <h2 class="secondaryText">No se encontraron publicaciones</h2>
                </div>

            </div>
        </div>
    </div>

</div>
