
<form name="editForm" role="form" novalidate ng-submit="vm.update()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySeccionLabel">Editar sección</h4>
    </div>
    <div class="modal-body">

        <div class="alert alert-danger alert-dismissable fade in" ng-if="vm.errorDuplicado == true">
            <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>El nombre de la sección ya se encuentra registrado!</strong>
        </div>

        <div class="alert alert-danger alert-dismissable fade in" ng-if="vm.errorConnection == true">
            <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>El sistema no está disponible en este momento!</strong> Inténtelo más tarde.
        </div>

        <div class="form-group">
            <label class="control-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" id="field_nombre" placeholder="Nombre"
                   ng-model="vm.seccion.nombre"  ng-minlength=5 ng-maxlength=15 required ng-pattern="/^[A-Z]{1}[a-zA-Z]*$/"/>
            <div ng-show="editForm.nombre.$dirty && editForm.nombre.$invalid">
                <p class="help-block"
                   ng-show="editForm.nombre.$error.required">
                    Nombre de sección es requerido.
                </p>
                <p class="help-block"
                   ng-show="editForm.nombre.$error.minlength">
                    Nombre de sección debe tener al menos 5 carácteres.
                </p>
                <p class="help-block"
                   ng-show="editForm.nombre.$error.maxlength">
                    Nombre de sección no puede tener más de 15 caracteres.
                </p>
                <p class="help-block"
                   ng-show="editForm.nombre.$error.pattern">
                    Nombre no puede contener números o caracteres. La primera letra debe ser mayúscula.
                </p>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
